body{
	background-color: lightblue;
}

.cool{
	visibility: hidden;
	width: 100px;
	height: 100px;
	background-color: lightgreen;
	transition: background-color 5s;
}

.cool.red{
	visibility: visible;
	background-color: red;
}